<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- 文件输出 -->
		<target name="FileTarget" xsi:type="File"
				fileName="Logs/North.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [North ${level}] ${message}${onexception:${newline}${exception:format=toString}}"
				archiveFileName="Logs/North.${date:format=yyyy-MM-dd}.log"
				archiveAboveSize="10485760"  
		archiveNumbering="Date"
		concurrentWrites="true"
		keepFileOpen="true"
		openFileCacheTimeout="30" />
		<target name="ConsoleTarget" xsi:type="ColoredConsole"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [North ${level}] ${message}${onexception:${newline}${exception:format=toString}}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Info" final="true" />
		<logger name="*" RuleName="FileRule" minlevel="Info" writeTo="FileTarget" />
		<logger name="*" RuleName="ConsoleRule" minlevel="Info" writeTo="ConsoleTarget" />
	</rules>
</nlog>