@page "/settings/general"

@using Microsoft.EntityFrameworkCore.Internal
@using North.Core.Common
@using North.Core.Entities
@using North.RCL.Buttons

@inject ILogger _logger
@inject ISnackbar _snackbar
@inject NavigationManager _nav
@inject NorthDbContext _context
@inject IHttpContextAccessor _accessor

<AuthorizeView Roles="User,Administrator">
    <div class="flex-row justify-center align-center message_warn">
        <MudImage Src="icons/warn.svg" Width="180" Elevation="0" Class="rounded-lg ma-4" />
        <MudLink Href="/" Color="Color.Warning" Style="font-weight:bold; font-size:34px;">您的权限不足，无法访问</MudLink>
    </div>
</AuthorizeView>
<AuthorizeView Roles="System">
    <div class="d-flex flex-column gap-4 mud-width-full mud-height-full overflow-scroll px-6 py-4" id="page">
        <div class="d-flex flex-column gap-2">
            <p class="menu_text">数据库类型</p>
            <div class="d-flex flex-row align-center" style="width:220px; height:40px;">
                <MudSelect @bind-Value="@GeneralSetting.DataBase.Type" T="DatabaseType" Immediate SelectedValuesChanged="@((e) => GenerateConnectStringTemplate())"
                           Variant="Variant.Outlined" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="DatabaseType.Sqlite" Style="height:40px;">
                        <div class="d-flex flex-row gap-2 justify-start align-center">
                            <i class="iconfont icon-sqlite" style="font-size:20px; color:#49A5DB;"></i>Sqlite
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="DatabaseType.SqlServer" Style="height:40px;">
                        <div class="d-flex flex-row gap-2 justify-start align-center">
                            <i class="iconfont icon-SQLserver" style="font-size:20px; color:#81C784;"></i>SQL Server
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="DatabaseType.MySql" Style="height:40px;">
                        <div class="d-flex flex-row gap-2 justify-start align-center">
                            <i class="iconfont icon-mysql" style="font-size:20px; color:#007890;"></i>MySQL
                        </div>
                    </MudSelectItem>
                    <MudSelectItem Value="DatabaseType.NpgSql" Style="height:40px;">
                        <div class="d-flex flex-row gap-2 justify-start align-center">
                            <i class="iconfont icon-postgresql" style="font-size:20px; color:#326590;"></i>NpgSql
                        </div>
                    </MudSelectItem>
                </MudSelect>
                <MudTooltip Text="生成模板" Placement="Placement.Right">
                    <MudIconButton Icon="@Icons.Outlined.Lightbulb" OnClick="@GenerateConnectStringTemplate" Class="ml-2"></MudIconButton>
                </MudTooltip>
            </div>
            
        </div>
        <!-- 数据库连接字符串 -->
        <div class="d-flex flex-column gap-2">
            <p class="menu_text">连接字符串</p>
            <MudTextField @bind-Value="GeneralSetting.DataBase.ConnStr" Margin="Margin.Dense" Lines="3"
                          Variant="Variant.Outlined" Style="width:90%; max-width:460px; line-height:1.5em;" />
        </div>
        <!-- 保存/取消设置 -->
        <div class="d-flex flex-row gap-2">
            <MudButton Variant="Variant.Filled" Color="Color.Tertiary"
                       OnClick="SaveSettings" Disabled="SaveRunning" Style="width:100px;">
                @if (SaveRunning)
                {
                    <MudProgressCircular Style="width:17px; height:17px; margin-right:10px;" Indeterminate />
                }
                <MudText>保 存</MudText>
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error"
                       OnClick="RestoreSettings" Disabled="RestoreRunning" Style="width:100px;">
                @if (RestoreRunning)
                {
                    <MudProgressCircular Style="width:17px; height:17px; margin-right:10px;" Indeterminate />
                }
                <MudText>还 原</MudText>
            </MudButton>
        </div>
    </div>
</AuthorizeView>

<style>
    .menu_text {
        font-weight: bold;
    }

    #page::-webkit-scrollbar {
        display: none;
    }

    .message_warn {
        width: fit-content;
        height: fit-content;
        left: 0;
        top: 0;
        bottom: 100px;
        right: 0;
        position: absolute;
        margin: auto;
    }
</style>