# Root Start
src/.vs
# Root End

# North Start
src/North/.vs
src/North/bin
src/North/obj
src/North/.config
src/North/appsettings.json
# North End

# Updater Start
src/Updater/.vs
src/Updater/bin
src/Updater/obj
# Updater End

# EmailPoster Start
src/EmailPoster
# EmailPoster End

# Launcher Start
src/Launcher/bin
src/Launcher/obj
# Launcher End

# Other Start
doc/基本框架.xmind
# Other End