@page "/login"

@using North.Common
@using North.Data.Access
@using North.Models.Auth
@using System.Security.Claims

@inject ILogger _logger
@inject ISnackbar _snackbar
@inject IHttpContextAccessor _accessor
@inject List<UnitLoginIdentify> _identifies
@inject NavigationManager _navigationManager

<MudCard id="login_card">
    <MudCardContent id="login_form">
        <MudStack>
            <div id="login_title">
                <font color=#7BC27A>N</font><font color=#5DB88E>o</font><font color=#3FAEA2>r</font><font color=#21A4B6>t</font><font color=#039ACA>h</font>
            </div>
            <MudTextField @bind-Value="LoginModel.Email" Placeholder="用户名或邮箱" MaxLength="32"
                          Variant="Variant.Outlined" Margin="Margin.Dense"
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Person"></MudTextField>
            <MudTextField @bind-Value="LoginModel.Password" InputType="InputType.Password" Placeholder="密码" 
                          Variant="Variant.Outlined" Margin="Margin.Dense" OnKeyDown="EnterToLogin" MaxLength="32"
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Lock" Immediate></MudTextField>
            <MudStack Row="true" Style="width:100%;">
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="GoToRegister" Style="width:50%;">注 册</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="UserLogin" Style="width:50%;" Disabled="LoginRunning">
                    @if (LoginRunning)
                    {
                        <MudProgressCircular Style="width:17px; height:17px; margin-right:10px;" Indeterminate/>
                    }
                    <MudText>登 录</MudText>
                </MudButton>
            </MudStack>
        </MudStack>
    </MudCardContent>
</MudCard>

<style>
    body {
        background-image: url(@BackgroundImageUrl);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #login_title {
        margin-top:10px;
        font-size:35px;
        font-weight:500;
        text-align:center;
    }

    #login_card {
        width:90%;
        height:260px;
        max-width: 330px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 100px;
        right: 0;
        margin: auto;
        border-radius:5px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
        border-color: #eee;
    }

    #login_form {
        width:90%;
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        margin:auto;
    }

    #login_button {
        border-radius:5px;
    }

    .login_field {
        border-radius:5px;
    }
</style>