@if(!string.IsNullOrEmpty(Content))
{
    <div id="footer" style="@Style">
        @FooterContent
    </div>
}

@code {
    RenderFragment FooterContent => (builder) => builder.AddMarkupContent(0, Content);
}