@inherits LayoutComponentBase

<PageTitle>North</PageTitle>


<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudBlazor.MudThemeProvider/>
<MudBlazor.MudDialogProvider/>
<MudBlazor.MudSnackbarProvider/>
