@inherits LayoutComponentBase

<PageTitle>North</PageTitle>

<MudStack Row Style="width:100%; height:100%;">
    <AuthorizeView>
        <Authorized>
            <div>
                <NorthCard/>
                <NavMenu/>
            </div>
            <div>
                <ActionBar/>
                @Body
            </div>
        </Authorized>
        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</MudStack>

<MudBlazor.MudThemeProvider/>
<MudBlazor.MudDialogProvider/>
<MudBlazor.MudSnackbarProvider/>
