@font-face {
  font-family: "iconfont"; /* Project id 3633656 */
  src: url('iconfont.woff2?t=1663324666509') format('woff2'),
       url('iconfont.woff?t=1663324666509') format('woff'),
       url('iconfont.ttf?t=1663324666509') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-14:before {
  content: "\e615";
}

.icon-html:before {
  content: "\e65b";
}

.icon-file-markdown:before {
  content: "\e7b8";
}

.icon-URLScheme:before {
  content: "\e616";
}

.icon-xuniku:before {
  content: "\e64c";
}

.icon-SQLserver:before {
  content: "\e7b0";
}

.icon-mysql:before {
  content: "\ec6d";
}

.icon-sqlite:before {
  content: "\e65a";
}

.icon-postgresql:before {
  content: "\ec5d";
}

