@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<PageTitle>ImageBed</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <Layout Class="site-layout" >
        <Content class="content px-4" Style="background-color:#f0f2f5;">
            @Body
        </Content>
        @if (showFooter)
        {
            <Footer Style="text-align:center; background-color:#f0f2f5;" class="myfooter">
                <Space>
                    <SpaceItem>
                        @if (!string.IsNullOrEmpty(GlobalValues.appSetting.Footer.Content))
                        {
                            <a href="https://beian.miit.gov.cn/#/Integrated/index">@GlobalValues.appSetting.Footer.Content</a>
                        }
                    </SpaceItem>
                    <SpaceItem>
                        @if (!string.IsNullOrEmpty(GlobalValues.appSetting.Footer.RegisterNumber))
                        {
                            <img src="images/beian.png"/>@GlobalValues.appSetting.Footer.RegisterNumber
                        }
                    </SpaceItem>
                </Space>
            </Footer>
        }
    </Layout>
</div>

@code{
    bool showFooter = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender && !showFooter)
        {
            if(await JS.InvokeAsync<double>("GetScreenWidth") > 500)
            {
                showFooter = true;

                StateHasChanged();
            }

        }
        
    }
}
