@using ImageBed.Pages
@using Blazored.LocalStorage

@inherits LayoutComponentBase

@inject IJSRuntime JS
@inject ILocalStorageService _storage 
@inject NavigationManager NavigationManager

<PageTitle>ImageBed</PageTitle>

<div class="page" style="width:100%;">
    <CascadingValue Value="@User" Name="CurrentUser" IsFixed="false">
        @if((User != null) && User.IsTokenValid() && (GetRelativeUrl() != GlobalValues.ROUTER_LOGIN))
        {
            <div class="sidebar">
                <NavMenu/>
            </div>
        }
        <Layout Class="site-layout" >
            <Content class="content px-4" Style="background-color:#f0f2f5; width:100%; height:100%;">
                @Body
            </Content>
            @if (ShowFooter)
            {
                <Footer Style="text-align:center; background-color:#f0f2f5;" class="myfooter">
                    <Space>
                        <SpaceItem>
                            @if (!string.IsNullOrEmpty(GlobalValues.AppSetting.Views.Footer.Content)){ <a href="https://beian.miit.gov.cn/#/Integrated/index">@GlobalValues.AppSetting.Views.Footer.Content</a> }
                        </SpaceItem>
                        <SpaceItem>
                            @if (!string.IsNullOrEmpty(GlobalValues.AppSetting.Views.Footer.RegisterNumber)) { <img src="images/beian.png"/>@GlobalValues.AppSetting.Views.Footer.RegisterNumber }
                        </SpaceItem>
                    </Space>
                </Footer>
            }
        </Layout>
    </CascadingValue>
</div>

