@inherits LayoutComponentBase

<PageTitle>ImageBed</PageTitle>

<Layout Style="min-height: 100vh;" class="page">
    <Sider class="sidebar" Width=235 style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
        <NavMenu />
    </Sider>
    <Layout Class="site-layout" >
        <Content Style="background-color:#ffffff;" class="content px-4">
            @Body
        </Content>
        @if (!string.IsNullOrEmpty(GlobalValues.appSetting.Footer.Content))
        {
            <Footer Style="text-align:center; background-color:#ffffff;">
                <a href="https://beian.miit.gov.cn/#/Integrated/index">@GlobalValues.appSetting.Footer.Content</a>
            </Footer>
        }
    </Layout>
</Layout>
