<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <Space>
            <Image Src="images/imagebed.svg" Preview=false style="width:28px; margin-right:10px; cursor:pointer;"/>
            <a class="navbar-brand" href="" style="font-family:'Times New Roman', Times, serif; font-size:21px; margin-left:5px;">ImageBed</a>
        </Space>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Space><Icon Type="cloud-upload" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>上 传</Space>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard">
                <Space><Icon Type="dashboard" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>仪表盘</Space>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pics">
                <Space><Icon Type="picture" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>图 库</Space>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cog">
                <Space><Icon Type="setting" Theme="outline" Width=25 Height=25 Style="margin-right:15px;"/>设 置</Space>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
