@using ImageBed.Data.Entity

<Space Direction="DirectionVHType.Vertical">
    <SpaceItem Style="font-family:'Times New Roman', Times, serif; font-size:30px; text-align:center; font-weight:bold;">ImageBed</SpaceItem>
    <SpaceItem>
        <Space Style="margin-top:25px;">
            <SpaceItem>账 号</SpaceItem>
            <SpaceItem>
                <Input @bind-Value="@LoginInfo.UserName" Style="width:260px; border-radius:5px;"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Style="margin-top:25px;">
            <SpaceItem>密 码</SpaceItem>
            <SpaceItem>
                <Input @bind-Value="@LoginInfo.Password" Style="width:260px; border-radius:5px;"/>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Space Style="margin-top:25px; width:100%;">
            <SpaceItem Style="width:50%;">
                <Button Style="width:100%; border-radius:5px;" Type="@ButtonType.Primary" Ghost OnClick=@OnRegister>
                    注 册
                </Button>
            </SpaceItem>
            <SpaceItem Style="width:50%;">
                <Button Style="width:100%; border-radius:5px;" Type="@ButtonType.Primary" OnClick=@OnLogin>
                    登 录
                </Button>
            </SpaceItem>
        </Space>
    </SpaceItem>
</Space>

@code{
    [Parameter]
    public LoginEntity LoginInfo { get; set; } = new("", "");
}

<style>
    #textArea-movieDescription::-webkit-scrollbar {
        display: none;
        overflow:scroll;
        overflow-x:hidden;
    }
</style>