@using Microsoft.AspNetCore.Components.Web
@using North.Pages.Auth
@namespace North.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />
        <!-- 标签栏图标 -->
        <link rel="shortcut icon" href="images/North_round_64.ico" type="image/x-icon"/>
        <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    </head>
    <body>
        @RenderBody()
        <script src="_framework/blazor.server.js"></script>
    </body>
</html>
