@page "/uploadTest"

@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Infrastructure
@using North.Core.Entities
@using North.Core.Helpers
@using North.Events.PasteMultimediaEvent
@using System.Reflection.Metadata
@using System.Diagnostics
@using North.RCL.Forms

@inject ILogger _logger
@inject IJSRuntime JS
@inject ISnackbar _snackbar
@inject NorthDbContext _context

@*<InputFile @onpastemultimedia="(e => Paste(e))" accept="image/*" OnChange="(e => Upload(e))" />

<MudStack  Class="d-flex flex-column justify-center align-center mud-width-full mud-height-full">
    <AutoRenderForm Model="@Model" />
</MudStack>*@

@foreach(var user in Users)
{
    <p>@user.Name</p>
}

@code {
    
}