@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
		.upload{
			width: 550px;
			margin:auto;
            left:10px;
		}

</style>

<div>
    <input id="image_input" type="file" name="file" hidden accept="image/*"/>
</div>
<div class="upload">
    <img id="upload"  src="~/upload.png" width=550 style="position:center">
</div>

<script>
    const image_input = document.getElementById("image_input");
    const upload = document.getElementById("upload");
    upload.onclick = function(){
        image_input.click()
    }

    function copyToClip(content, message) {
        var aux = document.createElement("input"); 
        aux.setAttribute("value", content); 
        document.body.appendChild(aux); 
        aux.select();
        document.execCommand("copy"); 
        document.body.removeChild(aux);
    }

    image_input.onchange = function(){
        if(this.files[0]){
            var form = new FormData();
            form.append("", this.files[0], "image");
            var settings = {
                "url": `http://${window.location.host}/api/image`,
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response){
                var response = JSON.parse(response);
                if(response.status_Code == 200){
                    alert(response.url);
                    copyToClip(response.url);
                }
                else{
                    alert(`上传失败,{response.message}`);
                }
            });
        }
    }
</script>