@inherits LayoutComponentBase

<PageTitle>ImageBed</PageTitle>

<div class="page">
    <NavMenu />

    <main>
        <article class="content px-4" style="position:relative;margin-top:130px;">
            @Body
        </article>
    </main>
</div>
