<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="FileTarget" xsi:type="File"
				fileName="Data/Logs/North.log"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [North ${level}] ${message}${onexception:${newline}${exception:format=toString}${expection:format=StackTrace}}"
				archiveFileName="Data/Logs/North.${date:format=yyyy-MM-dd}.log"
				archiveAboveSize="102400"
				archiveNumbering="Sequence"
				concurrentWrites="true"
				keepFileOpen="false" />
		<target name="ConsoleTarget" xsi:type="ColoredConsole"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [North ${level}] ${message}${onexception:${newline}${exception:format=toString}${expection:format=StackTrace}}" />
	</targets>
	<rules>
		<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
		<logger name="*" RuleName="FileRule" minlevel="Info" maxlevel="Fatal" writeTo="FileTarget" />
		<logger name="*" RuleName="ConsoleRule" minlevel="Info" maxlevel="Fatal" writeTo="ConsoleTarget" />
	</rules>
</nlog>