@page "/Dashboard"

@using AntDesign.Charts
@using ImageBed.Data.Access
@using System.Diagnostics
@using Title = AntDesign.Charts.Title
@using ImageBed.Data.Entity

@inject HttpClient HttpClient
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div style="overflow:scroll; overflow-x:hidden; height:100%; max-height:650px;" Id="imageCard">
    <Spin Spinning=@spinning>
        <AntList Grid="grid" DataSource="@sysRunningInfoCards" Style="margin-bottom:20px;">
            <ListItem>
                <Card Style="border-radius:12px;">
                    <TitleTemplate>
                        <Space>
                            <SpaceItem>
                                <Icon Type = "@context.Icon" Theme="outline" Width=30 Height=30/>
                            </SpaceItem>
                            <SpaceItem>@context.Title</SpaceItem>
                        </Space>
                    </TitleTemplate>
                    <Body>
                        <h4>@context.Description</h4>
                    </Body>
                </Card>
            </ListItem>
        </AntList>
        @if(showChart)
        {
            if(SysRecords.Count > 0)
            {
                <Line Data="SysRecords" Config="SysRecordConfig"/>
            }
            else
            {
                <Empty Style="margin-top:80px;" Description=@("暂无数据")/>
            }
        }
    </Spin>
</div>

<style>
    #imageCard::-webkit-scrollbar {
        display: none;
    }
    .zoomImage{
        width:100%;
        border-radius:10px;
        background-color:yellow;
    }
    .zoomImage:hover{
        cursor:pointer;
        box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
        border-color: #eee;
        transition: all .2s ease-in-out;
    }
</style>