@page "/"

@using ImageBed.Data.Entity
@using Image = AntDesign.Image

@inject IJSRuntime JS
@inject MessageService _message
@inject NavigationManager NavigationManager

<style type="text/css">
	.upload{
		width: 550px;
		margin:auto;
        left:10px;
	}
</style>

<div class="upload">
    <Upload Multiple
            @attributes=attrs
            ShowUploadList=false
            BeforeAllUpload=@CheckImages
            OnChange=@ImageStateChanged
            OnCompleted=@UploadFinished>
        <Image Id="upload" Width="100%" Src="images/upload.png" Preview=false Style="position:center;margin-top:130px;"/>
    </Upload>
    <Progress Percent=_progress_percent StrokeWidth=progress_stroke_width ShowInfo=progress_showInfo/>
</div>