@page "/"

@using ImageBed.Data.Entity
@using Image = AntDesign.Image

@inject IJSRuntime JS
@inject MessageService _message
@inject NavigationManager NavigationManager

<div id="div_upload">
    <InputFile id="inputfile_upload" draggable multiple accept="image/*"/>
</div>
@*<Progress Percent=100 Style="width:100%; max-width:550px;"/>*@

<style>
    #div_upload{
        width:100%; 
        max-width:550px;
        height:352px;
        max-height:100%;
        margin:auto;
        margin-top:100px;
        background-image:url(images/upload.png); 
        background-repeat:no-repeat;
        background-size:contain;
    }

    #inputfile_upload{
        width:100%; 
        height:100%; 
        opacity:0;
        cursor:pointer;
    }
</style>