@page "/"

@using ImageBed.Data.Entity
@using Image = AntDesign.Image

@inject IJSRuntime JS
@inject MessageService _message
@inject NavigationManager NavigationManager

<div style="position:center; width:100%; max-width:550px; transform:translateY(40%); margin:auto; height:auto;">
    <Spin Spinning=@spining>
	    <Upload Multiple
            Action=@("api/image")
            Accept=@imageConfig.Format
            ShowUploadList=false
            BeforeAllUpload=@CheckImages
            OnChange=@ImageStateChanged
            OnCompleted=@UploadFinished>
            <Image Src="images/upload.png" Preview=false Style=""/>
        </Upload>
        <Progress Percent=@ProgressPercent StrokeWidth=progress_stroke_width ShowInfo=progress_showInfo/>
    </Spin>
</div>