@page "/login"

@using Blazored.LocalStorage
@using ImageBed.Components.MyForms
@using ImageBed.Data.Entity
@using System.Security.Claims

@inject MessageService _message
@inject ILocalStorageService _storage

<PageTitle>登 录</PageTitle>
<div style="width:90%; max-width:500px; margin:auto; margin-top:100px;">
	<LoginForm LoginInfo=@login OnRegister=@UserRegister OnLogin=@UserLogin/>
</div>
